@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
}

.vector{
  width: 50vw;
  height: auto;
}

.head-txt{
  text-align: center;
}



.educoll{
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  
  width: 25%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.edutxt{
  
  margin-top: 2%;
  margin-bottom: 7%;
  text-align: center;
}

.card-header{
  background-color: white;
  color: black;
}
.card-body{
  background-color: white;
  color: black;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: none;
}

.style{
  font-family: 'Merienda', cursive;
}

.text{
  font-family: 'Kaushan Script', cursive;
  

}

.about{
  font-size: 25px;
  font-family: 'Quattrocento', serif;
}

.main-text{
  font-family: 'Quattrocento', serif;
}
.proj{
  width: 100%;
  height: auto;
}

.projtxt{
  text-align: center;
  font-size: 50px;
}


.whatido{
  width: 80%;
  height: auto;
}
.proj-card{
 
 width: 15px;
 height: auto;
}

.navbar-toggler{
  border-style: none;
}



@media (max-width: 480px) {
  .vector{
    height: 60vh;
    width: 100vw;

  }
  
}


@media (max-width: 573px) {
  .vector{
    height: 60vh;
    width: 100vw;

  }
  
}


@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}